@font-face {
    font-family: StratosSkyeng;
    src: url('./assets/fonts/stratosskyengweb-regular.woff2') format('woff2'),
        url('./assets/fonts/stratosskyengweb-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: StratosSkyeng, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #004980;
}

.main,
.modal-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 158px;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #c2f5ff;
    padding-left: 69px;
    padding-right: 69px;
}

.main-tittle {
    margin-top: 52px;
    width: 208px;
    font-size: 40px;
    color: #004980;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-complexity {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 68px;
}

.complexity-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color: #0080c1;
    height: 98px;
    width: 98px;
    border-radius: 12px;
    background: #fff;
}

.item-active {
    border: 2px solid green;
}

.button {
    height: 50px;
    width: 246px;
    font-size: 24px;
    color: #fff;
    border-radius: 12px;
    background: #7ac100;
    border: none;
}

#form-button {
    display: flex;
    justify-content: center;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 22px;
    padding-bottom: 35px;
}

.game-timer {
    height: 91px;
    width: 155px;
}

.timer-tittle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    column-gap: 15px;
    justify-items: end;
    height: 26px;
    font-size: 16px;
    color: #fff;
    padding-right: 5px;
}

.timer-body {
    height: 65px;
    font-size: 64px;
    line-height: 64px;
    color: #fff;
}

.game-body {
    display: grid;
    height: 626px;
    gap: 15px;
    justify-content: center;
    align-content: center;
}

.card {
    border-radius: 4px;
    background: #fff;
}

.cart-shirt {
    padding-top: 11px;
    border-radius: 4px;
    background: #e4fbff;
    height: 100%;
    width: 100%;
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 50%);
    pointer-events: none;
    opacity: 0;
}

.modal-content {
    padding-top: 32px;
    align-items: center;
}

.modal-titele {
    font-size: 40px;
    color: #004980;
    margin-top: 9px;
    margin-bottom: 28px;
}

.modal-subtitele {
    font-size: 24px;
}

.modal-time {
    font-size: 64px;
    margin-top: 10px;
    margin-bottom: 40px;
}
