@font-face {
    font-family: "StratosSkyeng";
    src: url("./assets/fonts/stratosskyengweb-regular.woff2") format("woff2"),
    url("./assets/fonts/stratosskyengweb-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: StratosSkyeng, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #004980;
}

.main {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    margin-top: 158px;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #C2F5FF;
    padding-left: 69px;
    padding-right: 69px;
}

.main_tittle {
    margin-top: 52px;
    width: 208px;
    font-size: 40px;
    color: #004980;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main_complexity {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 68px;
}

.complexity_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color: #0080C1;
    height: 98px;
    width: 98px;
    border-radius: 12px;
    background: #ffffff;
}

.item_active {
    border: 2px solid green;
}

.button {
    height: 50px;
    width: 246px;
    font-size: 24px;
    color: #ffffff;
    border-radius: 12px;
    background: #7AC100;
    border: none;
}

.main_button {
    margin: 0 auto;
}

.game_header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding: 22px;
    padding-bottom: 35px;
}

.game_timer {
    height: 91px;
    width: 155px;
}

.timer_tittle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    column-gap: 15px;
    justify-items: end;
    height: 26px;
    font-size: 16px;
    color: #ffffff;
    padding-right: 5px;

}

.timer_body {
    height: 65px;
    font-size: 64px;
    line-height: 64px;
    color: #ffffff;
}

.game_body {
    display: grid;
    height: 626px;
    gap: 15px;
    justify-content: center;
    align-content: center;

}

.card {
    border-radius: 4px;
    background: #ffffff;
}

.cart_shirt {
    padding-top: 11px;
    border-radius: 4px;
    background: #E4FBFF;
    height: 100%;
    width: 100%;
}
